
/*=========================
  Image Gallery
 ================= */

div.img {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 380px;
}

div.img:hover {
    border: 2px solid #777;
}

div.img img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 19px;
    text-align: center;
}

/*=========================
  Font
 ================= */

#fuente {
  font-family: Papyrus, fantasy;
  font-size: 40px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 26.4px;
  color: #521416;
}

#fuenteH3 {
  font-family: Papyrus, fantasy;
  font-size: 40px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 26.4px;
  padding: 4px;
  color: #ffffff;
}

#fuentePrecios {
  font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
  font-size: 20px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 23.4px;
  color: #ffffff;
}
