
ol li {
  list-style-type:  square;
  list-style-image: url("https://upload.wikimedia.org/wikipedia/commons/c/cf/Blue_check.png");
}

/*=========================
  Fuente
 ================= */
#fuente {
  font-family: Papyrus, fantasy;
  font-size: 40px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 26.4px;
  color: #521416;
}

div.img {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 380px;
}

div.img:hover {
    border: 2px solid #777;
}

div.img img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 19px;
    text-align: center;
}

/*=========================
  Font
 ================= */

#fuente {
  font-family: Papyrus, fantasy;
  font-size: 40px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 26.4px;
  color: #521416;
}

