
ol li {
  list-style-type:  square;
  list-style-image: url("https://upload.wikimedia.org/wikipedia/commons/c/cf/Blue_check.png");
}

/*=========================
  Fuente
 ================= */
#fuente {
  font-family: Papyrus, fantasy;
  font-size: 40px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 26.4px;
  color: #521416;
}

.floating-box {
  position: relative;
  float: left;
  width: 150px;
  margin: 100px;
}


/*=========================
  Font
 ================= */

#fuente {
  font-family: Papyrus, fantasy;
  font-size: 40px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 26.4px;
  color: #521416;
}

