.formulario { 
  background:#f9f9f9; 
  position: relative;
  left: 30%;
}

.formulario fieldset {
  margin: auto;
  text-align: center;
}

.formulario fieldset input{
  margin-left: 20px;
  margin-top: 20px;
}

.formulario fieldset select{
  text-transform: none;
  margin: 10px;
}

.formulario fieldset textarea{
  text-transform: none;
  margin: 10px;
}

.direccion{
  width: 500px;
  border: 25px solid rgba(191, 16, 16, 0.94);
  border-style: double;
  border-width: 5px;
  padding: 25px;
  margin: 25px;
  display: inline-block;    
}

.desc {
  display: flex;
  font-size: 12px;
  font-style: oblique;
}

.dir {
  position: relative;
  bottom: 70px;
}

.ser {
    margin: auto;
    position: relative;
    bottom: 70px;
}

textarea#styled1, textarea#styled2 {
  width: 300px;
  height: 120px;
  border: 3px solid #cccccc;
  padding: 5px;
  font-family: Tahoma, sans-serif;
  background-position: bottom right;
  background-repeat: no-repeat;
}